---
import Layout from '../layouts/Layout.astro';
import Counter from '../components/Counter.tsx';
import Episodes from "../components/Episodes.astro";
import EpisodesGrid from "../components/EpisodesGrid.tsx";
import "../styles/global.css";
---

<Layout>

    <Counter client:load />
    <Episodes count={5} server:defer>
      <div slot="fallback" class="text-center p-4">
        Loading episodes...
      </div>
    </Episodes>
	<EpisodesGrid count={6} client:load />
  
</Layout>
